// Body
$body-bg: #f8f9f1;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

  $primary: #6F5D5B;
  $secondary:#4472c6;
  $success:#CECFC9;
  $info: #4C2418;
  $warning: #362F29;
  $danger: #bf5329;

  $blue: #007bff;
  $indigo: #6610f2;
  $purple: #6f42c1;
  $pink: #e83e8c;
  $red: rgb(255, 0, 0);
  $orange: #fd7e14;
  $yellow: #ffc107;
  $green: #28a745;
  $teal: #20c997;
  $cyan: #17a2b8;
  $white: #fff;
  $black: #000;

  $gray: #6c757d;
  $gray-dark: #343a40;


$light: #f8f9f1;

 
.bg-black{ background-color: black;} 





// Brands
$brand-primary: $primary;
$brand-secondary: $secondary;
$brand-info: $info;
$brand-success: $success;
$brand-warning: warning;
$brand-danger: $danger;
   



// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.87rem;
$line-height-base: 1.6;
$text-color: rgb(46, 50, 52);


// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;